<ion-view view-title="Curriculum">
  <ion-content>

    <!-- GUIDA ALLA COMPILAZIONE
Sostituire le parti in grigio con i vostri dati o scriverli subito prima o subito dopo di esse; l'importate è non scriverli all'interno delle parentesi angolate: le scritte dentro queste parentesi servono solo come riferimento/indicazione e non compaiono quando si edita -->

<div style="margin: 25px 20px 25px 100px">

<div align="center" style="font-size: 20px; font-weight: bold; color: #0047AB; margin-bottom: 60px">Curriculum vitae</div>  
  
<span style="font-size: 15px; font-weight: bold; color: #0047AB; margin-right: 100px">Nombre completo</span><div style="width: 150px; height: 150px; float: right; border: 1px solid #0047AB; background-image: url(https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjoipqfq7XmAhVix1kKHXAsDv4QjRx6BAgBEAQ&url=https%3A%2F%2Fsoyestudiante.com.ar%2FStudents%2FLogin&psig=AOvVaw00eGwObvslsS802qPixle4&ust=1576419714620103); background-size: 100%"></div>

<br><br><br><br><br><br><br><br><br>

<div style="font-size: 17px; font-weight: bold; color: #0047AB; margin-bottom: 10px">Datos</div> 
  
<div style="line-height: 22px; font-size: 14px">

<div>Lugar: <!--  PROVINCIA --></div>  
<div style="display: inline-block; margin-right: 170px">Telefono: <!-- NUMERO --></div>  <div style="display: inline-block">Celular: <!-- NUMERO --></div>
<div>Email: <!--  E-MAIL --></div>
</div>
  
<p>
  
<hr style="border: 1px dashed #0047AB">

<p>
  
<div style="font-size: 17px; font-weight: bold; color: #0047AB; margin-bottom: 10px">Informacion personal</div>
  
<div style="line-height: 22px; font-size: 14px">
<div>Nacionalidad: <!-- NACION --></div>
<div>DPI: <!-- Documento --></div>
<div>Edad: <!-- edad --></div>
</div>

<p>  
  
<hr style="border: 1px dashed #0047AB">

<p>  
  
<div style="font-size: 17px; font-weight: bold; color: #0047AB; margin-bottom: 10px">Formacion</div>
  
<div style="line-height: 22px; font-size: 14px">
<div>Diplomados: <!-- Diplomas --></div>  
<div>Titulo de estudio: <!--titulo--></div>
<div>Cursos: <!-- cursos (academica) --></div>
</div>

<p>   
  
<hr style="border: 1px dashed #0047AB">

<p>
  
<div style="font-size: 17px; font-weight: bold; color: #0047AB; margin-bottom: 10px">Experiencia Laboral</div>
  
<div style="line-height: 22px; font-size: 14px">
<div>Empresa: <!-- empresa --></div>
<div>lugar: <!-- ciudad--></div>
<div>Cargo: <!-- el cargo que ocupaba--></div>
</div>

<p>  
  
<hr style="border: 1px dashed #0047AB">

<p>
  
<div style="font-size: 17px; font-weight: bold; color: #0047AB; margin-bottom: 10px">Idioma</div>
  
<div style="line-height: 22px; font-size: 14px">
<div>Estudio de algun idioma: <!-- LENGUA --></div>

</div>

<p>  
  
<hr style="border: 1px dashed #0047AB">

<p>
  

<p>  
  
<hr style="border: 1px dashed #0047AB">

<p>  
  
<div style="font-size: 17px; font-weight: bold; color: #0047AB; margin-bottom: 10px">Informacion</div>
  
<div style="line-height: 22px; font-size: 14px">
<div>Hobby: <!-- HOBBY --></div>
<div>Interes: <!-- INTERES --></div>
<div>Referencia: <!--referencia de alguna persona --></div>
</div>

<br><br>


</div>

<!-- Auguri per i vostri colloqui ;) -->
                
            
    







      
    <!--<ion-list>    
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>-->



  </ion-content>
</ion-view>
        